body {
    width: 100%;
    height: 100vh;
}

.personaje {
    width: 233px;
    height: 200px;
    background: url(correr.png);
    animation: correr 1s infinite steps(5);
    position: relative;
    top: 43%;
}

.fondo {
    background: url(fondo.jpg);
    width: 100%;
    height: 40%;
    animation: movimiento 2s linear infinite;
}

@keyframes correr {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -1068px;
    }
    
}

@keyframes movimiento {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -900px 0px;
    }
    
}